@font-face {
	font-family: 'Satoshi';
	src: url('https://ultahost.com/themes/default/webfonts/Satoshi-Variable.woff2') format('woff2');
	font-weight: 300 900;
	font-display: swap;
	font-style: normal;
}